/* App.css */

/* Overall App Styles */

:root {
  --palette1: #3182CE;
  --palette2: #2B6CB0;
  --palette3: #1A202C;
  --palette4: #2D3748;
  --palette5: #4A5568;
  --palette6: #718096;
  --palette7: #EDF2F7;
  --palette8: #F7FAFC;
  --palette9: #ffffff;
}

body {
  margin: 0; /* Removes white border around .app-container */
  background: rgba(29, 37, 45, 1);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    60deg,
    rgba(29, 37, 45, 1) 0%,
    rgba(0, 79, 91, 1) 26%,
    rgba(0, 79, 91, 1) 40%,
    rgba(29, 37, 45, 1) 100%
  );
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  color: #86cac6;
  margin-bottom: 20px;
  font-family: "prometo", sans-serif; /* Ask if we can get prometo font for site */
}

.username-container {
  background-color: #86cac6;
  /*
    max-width: 80%;
    max-height: 80%;
    */

  width: 400px;
  max-height: 70vh;

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-container {
  background-color: #fff;
  /*  
    max-width: 80%;
    max-height: 80%;
    */

  width: 60%;

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 70vh;
}

/* Chat Display Styles */
.chat-display {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  height: 80%;
}

.message {
  margin-bottom: 15px;
}

.user-message {
  background-color: #e1ffc7;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 60%;
  align-self: flex-end;
  word-wrap: break-word;
}
.user-message-container {
  display: flex;
  justify-content: flex-end; /* Aligns user's messages to the right */
}

.bot-message {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 0px;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 60%;
  align-self: flex-start;
  word-wrap: break-word;
}

.bot-message-container {
  display: flex;
  justify-content: flex-start; /* Aligns bot's messages to the left */
}

/* Chat Form Styles */
.chat-form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
  align-items: center; */
  width: 100%;
  gap: 10px;
}

.input-field {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 75%;
  outline: none; /* removes blue outline when inputting text */
}

.submit-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  width: 25%;
}
/*
.submit-btn-v2 {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1rem;
}
*/
.submit-btn:hover {
  background-color: #0056b3;
}

/* Styles for username form */
.username-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.username-form input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 10px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.username-form h2 {
  font-size: 1.2rem;
  color: #004f5b;
}

.username-form input:focus {
  outline: none;
  border-color: #007bff;
}

/* Scrollbar customization */
.chat-display {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.chat-display::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}